<tw-storydata name="ANRD - Intro Detective Privado" startnode="11" creator="Twine" creator-version="2.2.1" ifid="AB3D911E-EA2E-4999-A741-A29AD20E090A" zoom="0.25" format="SugarCube" format-version="2.21.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">







</style><script role="script" id="twine-user-script" type="text/twine-javascript">







</script><tw-passagedata pid="1" name="@player_private_investigator" tags="" position="540,346" size="100,100">Te despiertas como cada mañana para ir a tu despacho. Es Octubre en Boston, y empieza a notarse la bajada de temperaturas típica de estas fechas.


[[Mirar por la ventana|@investigator_intro_look_window]]
[[Prepararme para ir al despacho|@investigator_intro_prepare]]
</tw-passagedata><tw-passagedata pid="2" name="@investigator_intro_look_window" tags="" position="396,347" size="100,100">Fuera el día está nublado, y aunque no ha llovido tiene pinta de que lloverá en breve. Las calles están vacías a estas horas, y no se oye mucho ruido en la calle.

[[Prepararme para ir al despacho|@investigator_intro_prepare]]</tw-passagedata><tw-passagedata pid="3" name="@investigator_intro_prepare" tags="" position="455,535" size="100,100">Te das una ducha rápida y mientras te vistes con tranquilidad sientes que hay algo que no te da buena espina esta mañana, aunque no sabes exactamente qué. Te pones el abrigo y coges tus cosas.

[[Salir a la calle|@investigator_intro_go_to_work]]
</tw-passagedata><tw-passagedata pid="4" name="@investigator_intro_go_to_work" tags="" position="457,694" size="100,100">Sales a la calle y te diriges andando a la oficina. Siempre te ha gustado caminar. Ayuda a aclarar las ideas antes de sentarte al escritorio y trabajar en un caso.

Al cabo de una media hora llegas a la oficina. Abres la puerta y entras en tu despacho. Amy, tu secretaria está sentada en su escritorio y te saluda.

-amy_goldberg Buenos días. Ha llegado algo para tí esta mañana temprano. Lo he dejado en tu escritorio.

[[Hablar con Amy|@investigator_intro_talk_amy]]
[[Sentarme al escritorio|@investigator_intro_sit_desktop]]</tw-passagedata><tw-passagedata pid="5" name="@investigator_intro_talk_amy" tags="" position="385,903" size="100,100">Saludas a Amy y te acercas a su escritorio. Siempre está muy ordenado y tiene todo organizado. Es muy buena en su trabajo.

[[¿Alguna llamada hoy?|@investigator_intro_talk_amy_calls]]
[[¿Nos han pagado ya por el último caso?|@investigator_intro_talk_amy_payments]]
[[¿Qué es eso que ha llegado hoy?|@investigator_intro_talk_amy_telegram]]
[[Dejar a Amy trabajar|@investigator_intro_sit_desktop]]</tw-passagedata><tw-passagedata pid="6" name="@investigator_intro_sit_desktop" tags="" position="673,846" size="100,100">Te sientas en tu escritorio como cada mañana. Montañas de papeles de los últimos casos que tenías están aún por ser revisados y archivados. Es un trabajo que te aburre y que siempre pospones, pero que sólo puedes hacer tu.

Debajo del pisapapeles se encuentra un telegrama que parece ser lo Amy te dijo que había llegado hoy por la mañana.

[[Leer el telegrama|@investigator_intro_read_telegram]]</tw-passagedata><tw-passagedata pid="7" name="@investigator_intro_read_telegram" tags="" position="535,998" size="100,100">Ojeas el telegrama y te percatas de que es de un antiguo compañero de colegio llamado Thomas White. Un amigo de la infancia que estudió arqueología nada más acabar el instituto y que hacía ya muchos años que no veías. El telegrama ha sido enviado desde Arkham, ayer por la mañana a las 11:30.

TODO: IMAGEN DEL TELEGRAMA

Conociendo a Thomas, sabes que no te pediría algo tan extraño y descabellado a menos que fuera algo de verdadera importancia. Además, la distancia entre Boston y Arkham es de unos 50km. Si por cualquier casualidad todo esto fuera una broma de mal gusto, siempre podrías estar en casa para la cena.

[[Recoger mis cosas e ir a la estación|@boston_train_station]]</tw-passagedata><tw-passagedata pid="8" name="@investigator_intro_talk_amy_calls" tags="" position="228,898" size="100,100">Le preguntas a Amy si alguien ha llamado por teléfono durante el día de hoy.

-amy_goldberg No, hoy no ha llamado nadie. De todos modos llevamos unas semanas que no hay nada de trabajo.

Amy tiene razón. Lleváis un tiempo que no hay ningún cliente interesado en vuestros servicios. Si esto sigue así vas a tener que cambiar de trabajo.

[[Preguntar otra cosa|@investigator_intro_talk_amy]]</tw-passagedata><tw-passagedata pid="9" name="@investigator_intro_talk_amy_payments" tags="" position="229,1056" size="100,100">Le preguntas a Amy si habéis recibido el pago del último caso. Un ricachón que quería investigar a la mujer con la que iba a casarse. La mujer era honrada. No podrías decir lo mismo de su futuro marido, pues llevas un mes esperando a que te pague por tus servicios.

-amy_goldberg No, ya le he llamado varias veces pero su mayordomo no hace más que darnos largas. Dice que pagarán la semana que viene.

Lo mismo dijeron la semana pasada.

[[Preguntar otra cosa|@investigator_intro_talk_amy]]</tw-passagedata><tw-passagedata pid="10" name="@investigator_intro_talk_amy_telegram" tags="" position="222,752" size="100,100">Preguntas a Amy acerca de eso que ha llegado esta mañana.

-amy_goldberg Es un telegrama urgente. Te lo he dejado en el escritorio bajo el pisapapeles.

[[Preguntar otra cosa|@investigator_intro_talk_amy]]</tw-passagedata><tw-passagedata pid="11" name="@player_private_investigator_desc" tags="" position="457,158" size="100,100">Un investigador privado siempre está alerta. Es alguien inteligente pero también preparado para la acción.

TODO: Descripción investigador privado

[[Elegir esta ocupación|@player_private_investigator]]
[[Elegir otra ocupación distinta|@select_player_occupation]]
</tw-passagedata></tw-storydata>