<tw-storydata name="AN - The Red Dagger" startnode="1" creator="Twine" creator-version="2.2.1" ifid="F30E48B2-50D1-48B2-B849-C5BCB615FAC3" zoom="0.25" format="SugarCube" format-version="2.21.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">







</style><script role="script" id="twine-user-script" type="text/twine-javascript">







</script><tw-passagedata pid="1" name="@start" tags="" position="284,106" size="200,100">TODO: Introducción

[[Elegir ocupación|@select_player_occupation]]</tw-passagedata><tw-passagedata pid="2" name="@select_player_occupation" tags="" position="340,457" size="100,100">Antes de continuar debes elegir la ocupación que mejor te parezca. Cada una de estas ocupaciones tiene sus ventajas y sus desventajas, y harán que la experiencia de la historia sea distinta.

[[Investigador privado|an-intro-priv-inv.html:@player_private_investigator_desc]]

[[Vidente|@player_psych_desc]]

[[Astrónomo|@player_astronomer_desc]]

[[Traficante de alcohol|@player_alcohol_traficker_desc]]</tw-passagedata></tw-storydata>
